/* Social media icons */
.social-icons {
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 2000;
}

.social-icon {
  color: #333;
  transition: color 0.2s;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  margin-top: 5rem;
}

.navbar {
  background-color: #f8f9fa;
  padding: 2.5rem 1rem 1rem 1rem;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
}

.navbar ul {
  list-style: none;
  justify-content: center;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: #222;
  font-weight: 500;
  padding: 0.5rem 1rem;
}

.navbar a:hover {
  background-color: #ffffffcd;
  color: #000;
}

/* Gallery styles */
.gallery-description {
  max-width: 800px;
  margin: 0 auto 1.5rem auto;
  text-align: center;
}

.gallery-container {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.gallery-grid {
  column-count: 3;
  column-gap: 1rem;
  padding: 0;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  /* transition: transform 0.3s ease; */
  break-inside: avoid;
  margin-bottom: 1rem;
}


.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
}



/* Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
}

.modal-content {
  max-width: 90vw;
  max-height: 90vh;
}

.modal-content img {
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
}

.modal-content h2 {
  color: white;
  text-align: center;
  margin-top: 1rem;
}

/* Home page styles */
.hero {
  padding: 2rem 1rem;
}

.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 3rem;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.hero-info {
  text-align: right;
  max-width: 700px;
  width: 100%;
}


.hero-photo img {
  max-width: 450px;
  height: auto;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #000;
}

.hero p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #666;
}